.bzsum{
    background-image: url("https://img.freepik.com/free-photo/chic-modern-luxury-aesthetics-style-living-room-gray-tone_53876-132806.jpg?t=st=1654314055~exp=1654314655~hmac=bf96ab59d1c8ecd22ea5e67f28c1bfbae82e826f5417fb296bfbd605f0096cb9&w=900");
  
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

