.bzsum{
    background-image: url("https://img.freepik.com/free-photo/scandinavian-vintage-wood-cabinet-with-chair-by-dark-blue-wall_53876-98164.jpg?w=740&t=st=1654274748~exp=1654275348~hmac=7be39c694d1fc4ab5aabb93ebeab02f89bee11f402d17f14796e2e43ccc110ab");
  
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

