#slide1{
    background-image: url("https://img.freepik.com/free-photo/modern-living-room-interior-with-armchair-decorating-ideas-white-wall-background-3d-rendering_41470-4378.jpg?w=1380&t=st=1654258307~exp=1654258907~hmac=06bdaeacb050e57981f9cad2c9aad115a252925404a1b516be0d91757db6e985");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
#slide2{
    background-image: url("https://i.ibb.co/g6VCG8S/dark-blue-living-room-interior-with-cozy-luxury-armchair-3d-rendering-41470-4120.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
#slide3{
    background-image: url("https://i.ibb.co/pQJgjq6/tv-cabinet-modern-living-room-with-armchair-plant-dark-marble-wall-3d-rendering-41470-3512.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
#slide4{
    background-image: url("https://img.freepik.com/free-photo/modern-minimalist-interior-with-armchair-empty-white-wall-3d-rendering_41470-3315.jpg?w=1380&t=st=1654258576~exp=1654259176~hmac=f83117fd0678141d59355fb24137fee99912be5497e4c4a84d089c3387bdc944");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
