.img{
    transition: 0.5s;
}

.img:hover{
    transform: scale(1.3);
}

.hover{
    position: relative;
    z-index: 50;
}
.before{
    position: relative;
    z-index: 0;
}
.hover{
    transform: scaleX(2);
}


